:root{ 
    /* colors */

    --actent-color:#FED136;
    --back-and-text-color:#222222;
    --color-for-article:#777777;
    --color-for-forms:#BBB;
    --color-for-name:#FFF; 
     
    /* fonts */
    font-family: 'Bilbo Swash Caps', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;

    --font-Bilbo-Swash-Caps: 'Bilbo Swash Caps', cursive;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-Roboto-Slab: 'Roboto Slab', serif;   
}

.circules{
    border: var(--actent-color) solid 3px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
*::selection{
    color: var(--actent-color);
}
h2{
    text-transform: uppercase;
}

.container{
    border: 2px solid red;
    width: 942px;
    margin: 0 auto;
}